$black: #151515;
$light-gray: #f5f5f5;
$gray: #bfbfbf;
$dark-gray: #7f7f7f;
$white: #ffffff;

@font-face {
  font-family: "NanumMyeongjo";
  src: local("NanumMyeongjo Regular"), local("NanumMyeongjo-Regular"),
    url(../fonts/NanumMyeongjo-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: local("NanumMyeongjo Bold"), local("NanumMyeongjo-Bold"),
    url(../fonts/NanumMyeongjo-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: local("NanumMyeongjo ExtraBold"), local("NanumMyeongjo-ExtraBold"),
    url(../fonts/NanumMyeongjo-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Icons";
  font-style: normal;
  src: url(../assets/fa-solid-900.eot); /* For IE6-8 */
  src: url(../assets/fa-solid-900.woff2) format("woff2"),
    url(../assets/fa-solid-900.woff) format("woff"),
    url(../assets/fa-solid-900.svg) format("svg"),
    url(../assets/fa-solid-900.ttf) format("truetype");
}
